video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background-color:rgba(90,30,200);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 2px 3px rgba(60,60,60,.4);
  display: flex;
}

.nav {
  justify-content: center;
  font-family: "Electrolize";
  font-size: 1.4rem;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  flex-basis: 100%;
}

.nav-content-wrapper {
  display: flex;
  flex-flow: row;
  flex-basis: 90%;
  justify-content: space-between;
}

.logo {
  flex-basis: 250px;
  margin: 0;
}

.logo img {
  width: 100%;
}

.navmenu {
  list-style-type: none;
  display: inline-flex;
  margin: 3px 0;
  transform: skewX(-30deg);
  align-items: center;
}

.navmenu li {
  transform: skewX(30deg);
}

.nav a {
  padding: 10px 0;
  margin: 0px 0px 0;
  border: 6px solid #fff;
  background-color: #b008d1;
  transition: .1s;
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.nav a:hover {
  text-decoration: none;
  color:#b008d1;
  background-color: #fff;
  transition: .1s;
}

.nav a:active {
  background-color: #d9dfff;
  transition: .1s;
}

.nav a:active li {
  transform: translate(3px, 2px) scale(.97) skewX(30deg);
  transition: .1s;
}

/*****HOME*****/

.welcome {
font-family: "Electrolize";
color: #fff;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
align-self: center;
flex-flow: row wrap;
}

.welcome-content-wrapper {
font-family: "Electrolize";
color: #fff;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
align-self: center;
flex-flow: row wrap;
}

.welcome h1 {
  justify-content: center;
  align-items: center;
  z-index: 99;
  text-transform: uppercase;
  display: flex;
  align-self: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 200px 0 20px;
  font-size: 3em;
  letter-spacing: 10px;
  text-shadow: 2px 2px 3px #666;
}

.trailer figure {
  width: 100%;
  height: 0;
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
  margin: 0;
}


/********SONGS*******/

.songlist {
  border-top: solid 2px #fff;
  padding: 140px 0 50px;
  display: flex;
  justify-content: center;
}

.songlist a {
  display: flex;
  flex-flow: row wrap;
  text-decoration: none;
  transition: .2s;
  justify-content: center;
  align-items: center;
  margin: -20px 7px;
  transform: skewX(-20deg) skewY(7deg);
  max-height: 195px;
  border: solid 3px #fff;
  border-radius: 3px;
  background-color: rgba(50, 30, 130, .4);
  box-shadow: 5px 5px 9px rgba(50, 50, 50, .3)
}

.boss-song {
  background-color: rgba(60,60,60,.4);
}

.songlist .content-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex-basis: 95%;
}

.song {
  display: flex;
  flex-flow: row wrap;
  width: 550px;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.song-info {
  font-family: "Electrolize";
  text-transform: uppercase;
  padding: 0 0 10px 10px;
  display: flex;
  flex-flow: row wrap;
  color: #fff;
  flex-basis: 50%;
  align-self: center;
  line-height: 0;
}

.songlist a:hover {
  text-decoration: none;
  transition: .2s;
  transform: skewX(0deg) scale(1.25);
  margin: 20px 9px;
  z-index: 100;
}

.boss-song .song-info {
  color: red;
}

.boss-song:hover {
  background-color: rgb(40, 40, 40);
}

.normal-song:hover {
  background-color: rgb(176, 8, 209);
}

.songlist a:hover .beginner,
.songlist a:hover .light,
.songlist a:hover .standard,
.songlist a:hover .heavy,
.songlist a:hover .oni {
  background-color: rgba(30,30,30,1);
}

.songlist a:active {
  transform:translate(4px, 4px) scale(1.23);
  box-shadow: 1px 1px 0px rgba(50, 50, 50, .3);
}

.genre,
.song-title,
.subtitle,
.song-artist,
.difficulties {
  flex-basis: 100%;
}

.genre,
.song-title,
.song-artist,
.difficulties {
  font-weight: bolder;
}

.song-title,
.song-artist {
  font-size: 1.5em;
  line-height: 1;
  margin: 10px 0;
}

.song-artist span {
  line-height: 1;
}

.song-title {
  padding-bottom: 2px;
  border-bottom: solid 1px #fff;
}

.boss-song .song-title {
  border-bottom: solid 1px red;
}

#hassub {
  border-bottom: none;
  margin-bottom: 5px;
}

#long-title {
margin-bottom: 4px;
}

.subtitle {
  padding-bottom: 11px;
  border-bottom: solid 1px #fff;
  margin: 0 0 10px;
}

.song-artist {
  margin-top: -4px;
}

.sub-artist {
  margin: -2px 0 12px;
}

.jacket {
  flex-basis: 30%;
  margin: 15px;
}

.jacket img {
  width: 100%;
  border-radius: 4px;
}

.difficulties {
  display: inline-flex;
  flex-basis: 100%;
  font-weight: bolder;
}

.difficulties p {
  font-size: 1.15rem;
  width: 40px;
  text-align: center;
}

.beginner,
.light,
.standard,
.heavy,
.oni {
  border-radius: 5px;
  margin: 5px;
  background-color: rgba(30,30,30,.7);
}

.beginner {
  color: skyblue;
  margin-left: 0px;
}

.light {
  color: goldenrod;
}

.standard {
  color: fuchsia;
}

.heavy {
  color: limegreen;
}

.oni {
  color: darkorchid;
}

.hide {
  display: none;
}
