::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #8717bf;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #563269;
  border-radius: 5px;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background-color:rgba(90,30,200);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 500;
  box-shadow: 0px 2px 3px rgba(60,60,60,.4);
  display: flex;
}

.nav {
  justify-content: center;
  font-family: "Electrolize";
  font-size: 1.4rem;
  font-weight: bolder;
  text-transform: uppercase;
  display: flex;
  flex-basis: 100%;
}

.nav-content-wrapper {
  display: flex;
  flex-flow: row;
  flex-basis: 60%;
  justify-content: space-between;
}

.logo {
  flex-basis: 250px;
  margin: 0;
}

.logo img {
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navmenu {
  list-style-type: none;
  display: inline-flex;
  margin: 3px 0;
  transform: skewX(-30deg);
  align-items: center;
}

.navmenu li {
  transform: skewX(30deg);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav a {
  padding: 10px 0;
  margin: 0px 0px 0;
  border: 6px solid #f5f2f7;
  background-color: #b008d1;
  transition: .1s;
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: #f5f2f7;
}

.nav a:hover {
  text-decoration: none;
  color:#b008d1;
  background-color: #f5f2f7;
  transition: .1s;
  cursor: pointer;
}

.nav a:active {
  background-color: #d9dfff;
  transition: .1s;
  color:#b008d1;
}

.nav a:active li {
  transform: translate(3px, 2px) scale(.97) skewX(30deg);
  transition: .1s;
}

/*****HOME*****/

.welcome,
.courses {
font-family: "Electrolize";
display: flex;
justify-content: center;
}

.welcome-content-wrapper,
.courses-content-wrapper {
color: #f5f2f7;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
align-self: center;
flex-flow: row wrap;
margin: 70px 0 0;
width: 800px;
}

.welcome h1,
.courses h1 {
  justify-content: center;
  align-items: center;
  z-index: 99;
  text-transform: uppercase;
  display: flex;
  align-self: center;
  flex-flow: row wrap;
  width: 100%;
  margin: 200px 0 20px;
  font-size: 3em;
  letter-spacing: 10px;
  text-shadow: 2px 2px 3px #666;
}

.welcome-logo {
  flex-basis: 100%;
  z-index: 99;
  justify-content: center;
  width: 500px;
  margin-bottom: -25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.welcome-logo img{
  width: 100%;
}

.trailer figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.trailer iframe {
  border: solid 5px #b008d1;
  border-radius: 10px;
}

/*****SONG NAV*****/

.songpack-nav {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
.songpack-buttons {
  list-style-type: none;
  display: inline-flex;
  margin: 3px 0;
  transform: skewX(-30deg);
  align-items: center;
  flex-flow: row wrap;
  font-family: "Electrolize";
  margin: 0 0 75px;
  text-transform: uppercase;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.songpack-buttons li {
  padding: 10px 0;
  margin: 0px 0px 0;
  border: 6px solid #f5f2f7;
  width: 175px;
  transform: skewX(30deg);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.unavailable {
  background-color: grey;
  color: #f5f2f7;
}

.unavailable:hover {
  background-color: grey;
  color: #f5f2f7;
  cursor: default;
}

.unavailable:active {
  background-color: grey;
  color: #f5f2f7;
}

.available-pack {
  background-color: #b008d1;
  color: #f5f2f7;
  transition: .1s;
}


.available-pack:hover {
  text-decoration: none;
  color:#b008d1;
  background-color: #f5f2f7;
  transition: .1s;
  cursor: pointer;
}

.available-pack:active {
  background-color: #d9dfff;
  transition: .1s;
  color:#b008d1;
}

/********SONGS*******/

.songlist {
  border-top: solid 2px #f5f2f7;
  padding: 100px 0 50px;
  display: flex;
  justify-content: center;
}

.songlist a {
  display: flex;
  flex-flow: row wrap;
  text-decoration: none;
  transition: .2s;
  justify-content: center;
  align-items: center;
  margin: -20px 7px;
  transform: skewX(-20deg) skewY(7deg);
  max-height: 195px;
  border: solid 3px #f5f2f7;
  border-radius: 3px;
  background-color: rgba(50, 30, 130, .4);
  box-shadow: 5px 5px 9px rgba(50, 50, 50, .3);
}

.boss-song {
  background-color: rgba(60,60,60,.4);
}

.songlist .content-wrapper {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  flex-basis: 95%;
}

.song {
  display: flex;
  flex-flow: row wrap;
  width: 550px;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.song-info {
  font-family: "Electrolize";
  text-transform: uppercase;
  padding: 0 0 10px 10px;
  display: flex;
  flex-flow: row wrap;
  color: #f5f2f7;
  flex-basis: 50%;
  align-self: center;
  line-height: 0;
}

.songlist a:hover {
  text-decoration: none;
  transition: .2s;
  transform: skewX(0deg) scale(1.25);
  margin: 20px 9px;
}

.boss-song .song-info {
  color: red;
}

.boss-song:hover {
  background-color: rgb(40, 40, 40);
}

.normal-song:hover {
  background: rgb(176,8,209);
  background: linear-gradient(60deg, rgba(176,8,209,1) 39%, rgba(112,5,180,.93) 88%);
}

.songlist a:hover .light{
  background-color: #cc9710;
  color: #f5f2f7;
  border: solid 2px #f5f2f7;
}

.songlist a:hover .standard {
  background-color: #bd09bd;
  color: #f5f2f7;
  border: solid 2px #f5f2f7;
}

.songlist a:hover .heavy {
  background-color: #1aab1a;
  color: #f5f2f7;
  border: solid 2px #f5f2f7;
}

.songlist a:hover .oni {
  background-color: #7d1fab;
  color: #f5f2f7;
  border: solid 2px #f5f2f7;
}

.songlist a:active {
  transform:translate(4px, 4px) scale(1.23);
  box-shadow: 1px 1px 0px rgba(50, 50, 50, .3);
}

.genre,
.song-title,
.subtitle,
.song-artist,
.difficulties {
  flex-basis: 100%;
}

.genre,
.song-title,
.song-artist,
.difficulties {
  font-weight: bolder;
}

.genre {
  font-size: .9em;
}

.song-title,
.song-artist {
  font-size: 1.5em;
  line-height: 1;
}

.song-title {
  margin: 5px 0 10px;
}

.song-artist {
  margin: 10px 0 5px;
}

.song-artist span {
  line-height: 1;
}

.song-title {
  padding-bottom: 2px;
  border-bottom: solid 1px #f5f2f7;
}

.boss-song .song-title {
  border-bottom: solid 1px red;
}

.hassub {
  border-bottom: none;
  margin-bottom: 5px;
}

.long-title {
margin-bottom: 7px;
}

.subtitle {
  padding-bottom: 11px;
  border-bottom: solid 1px #f5f2f7;
  margin: 0 0 10px;
}

.song-artist {
  margin-top: -4px;
}

.sub-artist {
  margin: 2px 0 10px;
}

.jacket {
  flex-basis: 30%;
  margin: 15px;
}

.jacket img {
  width: 100%;
  border-radius: 4px;
}

.difficulties {
  display: inline-flex;
  flex-basis: 100%;
  font-weight: bolder;
  text-align: center;
}

.difficulties p {
  width: 50px;
  justify-content: center;
}

.light,
.standard,
.heavy,
.oni {
  margin: 5px;
  background-color: rgba(30,30,30,.7);
  border: solid 1px #f5f2f7;
  display: flex;
  flex-flow: column;
}

.level-name {
  font-size: .7rem;
  border-bottom: solid 1px #f5f2f7;
  padding: 8px 0;
  margin: 0;
}

.level-rank {
  font-size: 1.35rem;
  padding: 2px 0;
  margin: 15px 0;
}

.light {
  color: #cc9710
}

.standard {
  color: #bd09bd;
}

.heavy {
  color: #1aab1a;
}

.oni {
  color: #7d1fab;
}

.hide {
  display: none;
}
